/vendor/
/config/config.php
/storage/attachments/*
/storage/drafts/*
/storage/logs/*
!/storage/attachments/.gitkeep
!/storage/drafts/.gitkeep
!/storage/logs/.gitkeep
/storage/outbox/*
!/storage/outbox/.gitkeep
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
.deploy-secrets
